.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    padding: 20px;
    color: #585858;
}
.nav img{
    width: 40px;
    border-radius: 50%;
}

.main_container{
    max-width: 900px;
    margin: auto;
}
.greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 600;
    padding: 20px;
}
.greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff,#ff5546);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 20px;
    padding: 20px;
}
.card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    border-radius: 25px;
    bottom: 10px;
    right: 20px;
}
.card p{
    color: #585858;
    font-size: 18px;
}
.card:hover{
    background-color: #dfe4ea;
}
.main_bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: rgba(226, 128, 108, 0.889); /* Semi-transparent white background */
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(244, 178, 92, 0.1), /* Inner shadow */
                0 4px 8px rgba(245, 69, 20, 0.1); /* Outer shadow */
  }
  .search_box img {
    width: 24px;
    height: 24px; /* Set a fixed height to prevent resizing */
    border-radius: 50%; /* Optional: Add border-radius for circular shape */
    padding: 4px; /* Optional: Add padding for spacing around the icon */
    box-sizing: content-box; /* Ensure padding doesn't affect the overall size */
    cursor: pointer;
}
.search_box input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 20px;
}
.search_box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom_info{
    font-size: 15px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding:0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result_title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.result img{
    width: 40px;
    border-radius: 50%;
}

.result_data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8 ;
    background: linear-gradient(to right, #9ed7ff, #ffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
.result_data p{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
}